
@{
    //Layout = null;
    ViewBag.Title = "PruebadeDiseño";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>DC</title>
    </head>
    <body>*@
<div>

    @*<%--Aqui se diseña el front end propio de la página DC--%>*@
    <br />
    <div class="cortainer">
        @*<%--Renglón para el titulo--%>*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center"><p><b>Universo DC Comics</b></p></div>
        </div>

        <br />@*<%--Etiquetas br para hacer un cambio de línea--%>*@

        <div class="row">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6 "><img class="img-fluid d-bloc imagenes" src="/Imagenes/superman1.jpg" alt="superman" /></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        En 1938 la publicación de Action Comics #1, en el cual se presentó a Superman, fue la punta de lanza para lo que hoy en día conocemos como DC Comics, uno de los sellos editoriales con más prestigio en el mundo, cuya presencia abarca los cinco continentes.
                        Sin embargo, no sería posible entender la presencia en otros países de héroes como Batman, Superman, Wonder Woman, Flash y Green Lantern, entre otros,
                        si sus aventuras no hubieran llegado a uno de los países que ha sumado millones de fanáticos por más de 50 años.
                    </b>
                </p>
            </div>
        </div>

        <br />

        <div class="row  ">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        Las aventuras de Superman y Batman empezaron a tener un gran éxito comercial en los Estados Unidos, por lo que la expansión a otros territorios era inevitable,
                        y uno de los primeros países a los que llegó las aventuras de los personajes de la entonces editorial National Publications, fue México.
                        En el mes de marzo de 1952 el sello Ediciones Recreativas, cuyo nombre cambio después a Editorial Novaro, lanzó a la venta el primer número de Superman para el mercado mexicano,
                        cuya historia fue la publicada en la edición estadounidense Superman #73.
                    </b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-fluid d-bloc imagenes" src="/Imagenes/batman y superman.jpg" alt="batman y superman" /></div>
        </div>

        <br /> @*<%--Etiquetas br para hacer un cambio de linea--%>*@

        <div class="row">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-fluid d-bloc imagenes" src="/Imagenes/bBatman.jpg" alt="batman" /></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        Después de Superman, llegaron otras publicaciones de National Publications como Batman y Marvila: La Mujer Maravilla, aunque Capitán Marvel o Shazam
                        fue la siguiente edición de superhéroes que llegó tras el éxito de Superman.
                    </b>
                </p>
            </div>
        </div>

        <br />

        <div class="row  ">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        Mientras en Estados Unidos salían una gran variedad de títulos y héroes que llegarían para quedarse, en México estas historias llegaron
                        gracias a las páginas de Batman y Superman principalmente, aparecieron en títulos como Aquaman, Green Arrow, Superman’s Girlfriend Lois Lane, Superman’s Pal Jimmy Olsen, Adventure Comics y World Finest.
                        Por su parte, Batman se encargaba en distribuir lo visto en las ediciones de Estados Unidos como Batman, Detective Comics, The Brave and the Bold, Green Lantern, Flash, y Justice League, nombrados para el público latino como Los Campeones de la Justicia.
                    </b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-fluid d-bloc imagenes" src="/Imagenes/dc.jpg" alt="DC" /></div>
        </div>

        <br />

    </div>


</div>
@*</body>
    </html>*@
