
@{
    //Layout = null;
    ViewBag.Title = "PruebadeDiseño";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Marvel</title>
    </head>
    <body>*@
<div>

    <br />
    <div class="cortainer">
        @*<%--Renglón para el titulo--%>*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center"><p><b>Marvel Comics</b></p></div>
        </div>

        <br />@*<%--Etiquetas br para hacer un cambio de línea--%>*@


        <div class="row">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        Originalmente fue conocida como Red Circle Comics, Atlas Comics; Marvel Comics fue fundada por Martin Goodman en 1939. Su primera publicación importante fue el Marvel Comics #1 en octubre de 1939 donde aparecía por primera vez un superhéroe en Marvel la primera Antorcha Humana y el vilano Namor.
                        Ambos personajes se convirtieron en grandes éxitos para la compañía protagonizando casi instantáneamente sus propias series.
                    </b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-fluid d-bloc imagenes" src="/Imagenes/comic1.jpg" alt="Antorcha" /></div>
        </div>

        <br />

        <div class="row  ">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6"><p><img class="img-fluid d-bloc imagenes" src="/Imagenes/spiderman.jpg" alt="Spider" /></p></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        Durante los años 50, la compañía, decayó fuertemente a consecuencia del final de la Segunda Guerra Mundial, por lo que en 1957 Marvel casi cerró sus puertas debido a la bancarrota de su distribuidora.
                        En 1960 compañía intentó retornar al género de superhéroes que había sido revitalizado con gran éxito por su rival DC Comics unos años antes.
                        Stan Lee y Jack Kirby crearon a La familia fantastica (Los 4 Fantásticos) inspirándose en los éxitos de DC Comics. Este cómic fue un éxito absoluto revitalizando la compañía que comenzó a sacar mas títulos, el más popular de ellos fue sin duda "The Amazing Spider-Man" creado por Lee y Steve Ditko.
                    </b>
                </p>
            </div>
        </div>

        <br />

        <div class="row  ">
            @*<%--Se crea un renglón dividido en dos columnas donde se pondrá la informacion y en la otra columna la imagen correspondiente--%>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>
                    <b>
                        En la década el mercado, el cómic volvió a entrar en recesión. La compañía se adaptó publicando nuevos títulos en géneros como el horror o la brujería.
                        Marvel intentó adquirir a DC pero la compra no siguió debido a que DC quería conservar los derechos de sus personajes más populares Superman y Batman
                        por lo que a finales de los 70 el equipo creativo formado por el guionista Chris Claremont y el artista John Byrne relanzó uno de los antiguos títulos de Marvel,
                        X-Men constituyendo el mayor éxito de la compañía durante esta época.
                    </b>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"><p><p><img class="img-fluid d-bloc imagenes" src="/Imagenes/4fantasticos.jpg" alt="fantastic 4" /></p></div>
        </div>

        <br />


    </div>


</div>
@*</body>
    </html>*@
