
@{
    //Layout = null;
    ViewBag.Title = "PruebadeDiseño";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>MarvelvsDc</title>
    </head>
    <body>*@
<div>

    <br />
    <div class="container">
        <div class="row">
            @*<%--Creamos un renglón donde ira el titulo centrado--%>*@
            <div class="col-lg-12 col-md-12 col-sm-12 text-center"><p><b>DC vs. Marvel eternos rivales pero ahora unidos por las ventas</b></p></div>
            <div class="row col-lg-12 col-md-12 col-sm-12">
                @*<%--Se crea otro renglón que se divide en 3 columnas donde en la columna de en medio se pone la imagen--%>*@
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 "><img class="img-fluid d-bloc imagenesMvsD" src="../Imagenes/MvsD.jpg" /></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <p>
                <b>
                    Marvel y DC han tenido desde siempre una historia de competencia. Quizá la más clara que ha habido en toda la cultura popular. <br />
                    -Acusaciones de plagio.<br />@*<%-- Se crea un renglón donde va a ir texto con saltos de línea--%>*@
                    -Piques por ventas.<br />
                    -Personajes que cambian de nombre para robar una idea a otra editorial.<br />
                    -Espionaje. <br />
                    Pero para entender cómo llegaron a unirse en los 90 hay que saber que ya lo habían probado con anterioridad.
                </b>
            </p>
        </div>

        <br /><br />
        <div class="row">
            @*<%--se crea un renglón con dos columnas donde una levara puro texto y la otra llevara una imagen--%>*@
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p>
                    <b>
                        En 1996, en medio de una crisis de ventas, DC y Marvel se unieron bajo el sello Amalgam durante varios números donde fusionaron sus personajes
                        En 1976 ambas editoriales se aliaron en un cómic único que ponía en un mismo escenario a Spiderman y Superman,
                        los que en ese momento eran los personajes más populares. Sin embargo, aquel pequeño intento no tendría nada
                        que ver con lo que ambas casas tramaron en 1996, una colisión inesperada de sus dos universos: había nacido la línea Amalgam.
                        Como comentábamos, en medio de la crisis de ventas, DC y Marvel llegaron a un acuerdo para lanzar un crossover conjunto llamado DC vs Marvel,
                        una miniserie donde los universos de las dos editoriales convergen en un evento cósmico.
                        El argumento que nos llevaba hasta aquí eran tan alocado como solo podría serlo en los cómics:
                        dos seres eternos del universo conocidos como 'Los Hermanos' saben de su existencia mutua tras una serie de sucesos.
                        Cada uno representa y contiene el universo de cada editorial y, al tomar conciencia uno del otro, toman una decisión muy propia de los cómics;
                        enfrentarse para ver cuál de los dos universos es más fuerte.
                        Los 'Hermanos' se conocen. DC vs. Marvel (1996)
                    </b>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-fluid d-bloc imagen" src="../Imagenes/hermanos.jpg" /></div>
        </div>

        <br /><br />
        <div class="row">
            @*<%--se crea un renglón con dos columnas donde una levara puro texto y la otra llevara una imagen--%>*@
            <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-fluid d-bloc imagen" src="../Imagenes/vs.jpg" /></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p>
                    <b>
                        Con este punto de partida ambas editoriales ya tenían carta blanca para servirnos peleas que a buen seguro habían surgido en la cabeza de sus lectores.
                        En los primeros números Superman se enfrenta a Hulk, con victoria para el primero y también vemos a Wonder Woman tomando el martillo de Thor.
                        Esta guerra entre ambos universos se cerró momentáneamente cuando la serie presentó al personaje de Access,
                        el único de la historia de los cómics creado a la vez por las dos editoriales. Access es un adolescente de Nueva York
                        que consigue poderes para abrir puertas entre universos, y que logra que 'Los Hermanos' hagan las paces finalmente,
                        dejándose claro que cada uno de ellos (Marvel y DC) eran más útiles separados.
                    </b>
                </p>
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            @*<%--se crea un renglón con dos columnas donde una levara puro texto y la otra llevara una imagen--%>*@
            <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-fluid d-bloc imagen" src="../Imagenes/amalgam.jpg" /></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p>
                    <b>
                        Al menos este cómic sirvió para saber que Superman es más fuerte que Hulk. (DC / Marvel)
                        Pero antes, durante la publicación de este crossover, ambas editoriales quisieron rizar aún más el rizo uniendo
                        literalmente a sus superhéroes más clásicos... ¿Qué me dices de una mezcla del Capitán América y Superman,
                        los dos héroes más americanos de siempre? Ambas editoriales se dejaron llevar por la travesura, como si fuera un fan-fiction pero hecho por ellos mismos.
                    </b>
                </p>
            </div>
        </div>
        <br />

        <br />
        <div class="row">
            @*<%--creamos un renglón que llevara el titulo--%>*@
            <div class="col-lg-12 col-md-12 col-sm-12 text-center"><p><b>¡Disfruta de este video echo por un fan!</b></p></div>
        </div>
        <div class="row">
            @*<%--creamos un div con una clase que sea responsivo cuando se cambie los tamaños de la ventana--%>*@
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive" src="https://www.youtube.com/embed/F9Y25ar82hE"></iframe> @*<%--se coloca una referencia al video para que aparezca el video--%>*@
            </div>
        </div>

    </div>




</div>
@*</body>
    </html>*@
