
@{
    ViewBag.Title = "PruebadeDiseño";
    Layout = "~/Views/Shared/_Principal.cshtml";
    //platilla echa para el diseño de una MasterPage
}

<h2>PruebadeDiseño</h2>

<p>
    Los mejores comics (contenido)
</p>